.btn{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    text-transform: capitalize;
    border: 1px solid transparent;
    padding: 12px 38px;
    text-align: center;
    border-radius: 100px;
    transition: all .35s ease;
    @include media(">=desktop") {
        padding-top: 18px;
        padding-bottom: 18px;
    }

    &--primary,
    &--secondary,
    &--light{
        color: $white-color;
        &:hover{
            color: $white-color;
            box-shadow: 0 10px 30px rgba($color: #000, $alpha: .25);
        }
    }

    &--primary{
        border-color: $primary-color;
        background-color: $primary-color;
    }

    &--secondary{
        border-color: #223122;
        background-color: #223122;
    }

    &--light{
        border-color: #F5E589;
        background-color: #F5E589;
    }

    &--link{
        padding: 0;
        border: none;
        color: $primary-light-color;
        &:hover{
            opacity: 0.8;
        }
    }
}