.contact-form{
	color: $primary-dark-color;
	
	&.light--theme{
		color: #fff;
		padding: 30px 24px;
		background: rgba(255, 255, 255, 0.04);
        @include media(">=desktop") {
			padding: 40px;
        }

		.mktoForm {
			.mktoFormRow {
				.mktoField.mktoTextField,
				.mktoField.mktoEmailField,
				textarea.mktoField,
				select.mktoField {
					color: #fff;
					background-color: rgb(255 255 255 / 8%);
					border-color: transparent;
				}
				.mktoField.mktoTextField,
				.mktoField.mktoEmailField,
				textarea.mktoField{
					@include placeholder {
						color: #fff;
					}
				}
				select.mktoField {
					color: #fff;
					background-image: url(../img/icon-plus.svg) !important;
					&.mktoValid,
					&.mktoInvalid{
						color: #fff;
					}
					option{
						color: $primary-dark-color;
					}
				}
				.mktoHtmlText {
					color: #fff;
				}
				#LblserviceInterest {
					~ {
						.mktoCheckboxList {
							label {
								background-color: rgb(255 255 255 / 8%);
								color: rgb(255 255 255 / 40%);
								&:hover{
									border-color: #fff;
								}
							}
						}
					}
				}
				#LblmHCNewsletterSubscriber {
					~ {
						.mktoCheckboxList {
							label {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
	

    &__title{
        margin-bottom: 5px;
    }

    p{
        @include media(">=desktop") {
            margin-bottom: 40px;
        }
    }

	.mktoForm {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
		font-family: 'Outfit' !important;
		padding: 0;
		width: 100% !important;
		.mktoFormRow {
            width: 100%;
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5){
                @include media(">=phone-sm") {
                    width: calc(50% - 4px);
                }
            }
			.mktoFormCol {
				float: none;
				margin: 0 !important;
				min-height: 0;
			}
			.mktoOffset {
				display: none;
			}
			.mktoFieldWrap {
				float: none;
			}
            .mktoField.mktoTextField,
			.mktoField.mktoEmailField,
            textarea.mktoField,
			select.mktoField {
				background-color: transparent;
				border: 1px solid rgba($color: $primary-dark-color, $alpha: .16);
				border-radius: 8px !important;
				box-shadow: none;
				color: $primary-dark-color;
				float: none;
				font-size: 14px;
				line-height: 1.2;
				height: auto;
				min-height: 0;
                height: 46px;
                text-transform: capitalize;
				padding: 0 12px !important;
				width: 100% !important;
			}
            .mktoField.mktoTextField,
			.mktoField.mktoEmailField,
            textarea.mktoField{
				@include placeholder {
					color: rgba($color: $primary-dark-color, $alpha: .5);
				}
			}
			textarea.mktoField {
				padding: 14px 12px 10px !important;
			}
			.mktoField.mktoTextField.mktoInvalid {
				border: 1px solid #f00;
			}
			.mktoField.mktoEmailField.mktoInvalid {
				border: 1px solid #f00;
			}
			select.mktoField {
				appearance: none;
				min-height: 46px;
				padding-right: 30px !important;
				color: rgba($color: $primary-dark-color, $alpha: .5);
				text-overflow: ellipsis;
				text-indent: 0;
				background-image: url(../img/icon-plus-dark.svg) !important;
				background-repeat: no-repeat;
				background-position: 98% 50%;
				background-size: 12px 12px !important;
				&.mktoValid,
				&.mktoInvalid{
					color: $primary-dark-color;
				}
			}
			select.mktoField.mktoInvalid {
				border: 1px solid #f00;
			}
			textarea.mktoField.mktoInvalid {
				border: 1px solid #f00;
			}
			.mktoHtmlText {
				color: $primary-dark-color;
				font-size: 14px;
				line-height: 1.5;
				margin-top: 24px;
				width: 100% !important;
			}
			#LblserviceInterest {
				~ {
					.mktoCheckboxList {
						border: none;
						border-radius: 0;
						display: flex;
						flex-wrap: wrap;
						gap: 8px;
						margin-bottom: 40px;
						padding: 0;
						width: 100% !important;
						input[type="checkbox"] {
							display: none;
							&:checked {
								+ {
									label {
										background-color: $primary-color;
										border-color: $primary-color;
										color: #fff;
									}
								}
							}
						}
						label {
							background-color: transparent;
							border: 1px solid rgba($color: $primary-dark-color, $alpha: .16);
							border-radius: 4px;
							color: $primary-dark-color;
							cursor: pointer;
							font-size: 12px;
							line-height: 1;
							margin: 0;
							padding: 7px 10px;
							&:hover {
								background-color: #fff;
								border-color: $primary-dark-color;
								color: $primary-dark-color;
							}
							&::before {
								display: none;
							}
						}
					}
				}
			}
			#LblmHCNewsletterSubscriber {
				~ {
					.mktoCheckboxList {
						border: none;
						border-radius: 0;
						margin-top: 27px;
                        margin-bottom: 15px;
						padding: 0;
						position: relative;
						width: 100% !important;
						// input[type="checkbox"] {
						// 	position: absolute;
                        //     top: 4px;
                        //     left: 0;
						// 	appearance: auto;
                        //     background-color: #fff;
						// 	border: 2px solid $primary-dark-color;
						// 	width: 14px;
						// 	height: 14px;
						// 	line-height: 1;
						// 	opacity: 1;
                        //     border-radius: 4px !important;
						// }
						label {
                            display: block;
                            padding-left: 22px;
							color: $primary-dark-color;
							font-size: 14px;
							font-weight: 500;
							line-height: 1.58;
                            text-transform: capitalize;
							margin: 0;
							&::before {
								top: 3px;
								width: 16px;
								height: 16px;
								margin-left: -1.7em;
								border: 2px solid $primary-dark-color;
								border-radius: 4px;
								box-shadow: none;
							}
						}
					}
				}
			}
			.mktoClear {
				display: none;
			}
		}
		.mktoButtonRow {
            width: 100% !important;
			.mktoButtonWrap.mktoBluePill {
				margin: 0 !important;
				.mktoButton {
					background: $primary-color;
					border: 1px solid $primary-color;
					border-radius: 100px;
					box-shadow: none;
					font-family: 'Outfit';
					font-size: 14px !important;
					line-height: 1.4;
                    font-weight: 500;
					padding: 10px 16px;
					text-shadow: none;
					text-transform: capitalize;
					width: 100% !important;
					&:hover{
						background-color: $primary-color !important;
						border-color: $primary-color !important;
						box-shadow: 0 10px 30px rgba($color: #000, $alpha: .25);
					}
				}
			}
		}
	}
}
