.nfooter {
	background-color: #E3ECE4;
	color: #223122;
	padding: 100px 0;
	position: relative;
}

.nfooter__row {
	display: flex;
	justify-content: space-between;
}

.nfooter__content {
	flex: 0 0 45%;
}

.nfooter__heading {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.28;
	text-transform: capitalize;
	margin: 0 0 45px;
}

.nfooter__info {
	border-bottom: 1px solid rgba($color: #223122, $alpha: .16);
	list-style: none;
	padding-bottom: 45px;
	margin-bottom: 40px;
	li {
		background-repeat: no-repeat;
		font-size: 14px;
		line-height: 1.6;
		margin-bottom: 18px;
		padding-left: 40px;
		word-wrap: break-word;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			color: #223122;
			&:hover {
                color: #223122;
				text-decoration: underline;
			}
		}
	}
}

.nfooter{
	&__info{
		&__address,
		&__email,
		&__phone{
			position: relative;
			background-image: none;
			&:before {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				@extend [class^="icon-"];
			}
		}

		&__address{
			&:before {
				font-size: 26px;
				@extend .icon-map;
			}
		}
		&__email{
			&:before {
				font-size: 17px;
				@extend .icon-mail;
			}
		}
		&__phone{
			&:before {
				font-size: 24px;
				@extend .icon-phone;
			}
		}
	}
}

.nfooter__icons {
	display: flex;
	flex-wrap: wrap;
	gap: 7px;
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 64px;
			height: 40px;
			background-color: rgba($color: #223122, $alpha: .16);
			border-radius: 8px;
			transform: scale(1);
			transition: all .35s ease;
			&:hover{
				color: #223122;
				transform: scale(1.1);
			}

			.icon{
				font-size: 23px;
				line-height: 40px;
				&.icon-twitter{
					font-size: 18px;
				}
			}
		}
	}
}

.nfooter__menu {
	flex: 0 0 45%;
	padding-top: 35px;
	>ul {
		display: grid;
		gap: 50px 32px;
		grid-template-columns: repeat(2, 1fr);
		list-style: none;
		margin: 0;
		padding: 0;
		>li {
			>a {
				display: block;
				font-size: 16px;
				line-height: 1.63;
				color: #223122;
				font-weight: 600;
				margin-bottom: 8px;
				&:hover{
					text-decoration: underline;
				}
			}
			>ul {
				list-style: none;
				padding: 0;
				>li {
					margin-bottom: 3px;
					&:last-child {
						margin-bottom: 0;
					}
					>a {
						display: block;
						font-size: 14px;
						line-height: 1.575;
						color: #223122;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
.nfooter-bot {
	background-color: #223122;
    padding: 25px 0;
}

.nfooter-bot__row {
	display: flex;
	justify-content: space-between;
	p {
		color: #fff;
		font-size: 12px;
		line-height: 1.2;
		font-weight: 500;
		margin: 0;
	}
	ul {
		display: flex;
		align-items: center;
		gap: 40px;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			a {
				color: #fff;
				display: block;
				font-size: 14px;
				line-height: 1.2;
				font-weight: normal;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
@media (max-width: 1023px) {
	.nfooter__row {
		display: block;
		width: 100%;
	}
	.nfooter__menu {
		padding-top: 6px;
		padding-bottom: 40px;
		margin-bottom: 40px;
		border-bottom: 1px solid rgba($color: #223122, $alpha: .16);
		> ul{
			gap: 52px 16px;
		}
	}
	.nfooter__heading {
		font-size: 38px;
	}
	.nfooter-bot__row {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		p {
			margin-bottom: 10px;
		}
	}
	.nfooter {
		padding: 85px 0 45px;
	}
	.nfooter-bot__row {
		ul {
			gap: 26px;
			li {
				margin-bottom: 10px;
				margin-bottom: 0;
			}
		}
	}
}
@media (max-width: 768px) {

	.nfooter__heading {
		font-size: 32px;
		margin: 0 0 30px;
	}

	.nfooter__info {
		margin: 0 0 32px;
		padding: 0 0 32px;
	}
}
