.modal-content{
    padding: 24px;
    width: 100%;
    max-width: 592px;
    outline: none;
    @include media(">=tablet") {
        padding: 40px;
    }
    &--sm{
        max-width: 428px;
    }

    &--m{
        max-width: 574px;
    }

    p{
        margin-bottom: 32px;
    }
}

.fancybox-active{
    overflow: hidden;
}

.fancybox-bg{
    background: #041027;
    .fancybox-is-open &{
        opacity: 0.4;
    }
}

.fancybox-slide--html{
    .fancybox-close-small{
        top: 20px;
        right: 20px;
        padding: 0;
    }
}

.fancybox-button{
    &:after,
    &:before {
        position: absolute;
        content: "";
        left: 2px;
        right: 2px;
        height: 2px;
		background-color: #fff;
		border-radius: 3px;
        transition: all 0.35s ease;
    }
    &:after {
        margin-top: -1px;
        top: 50%;
        transform: rotate(45deg);
    }
    &:before {
        margin-bottom: -1px;
        bottom: 50%;
        transform: rotate(-45deg);
    }
    svg{
        display: none;
    }
}

.fancybox-close-small{
    width: 18px;
    height: 18px;
    opacity: 1;
    background: #223122;
    border-radius: 50%;
}